@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;

}
.header-main {
    background-image: url(icons/BG.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    flex-grow: 1;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 26px 140px 0px 140px;
    gap: 40px;

}
.logo-item {
    margin-right: auto;
}

.logo-img {
    width: 128px;
    height: 32px;
}

.nav-item {
    padding: 4px 0px 4px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    font-feature-settings: 'liga' off;
    color: #111827;
}

.nav-item:hover {
    color: #AA3781;
    cursor: pointer;
}

.nav-item:focus {
    color: #AA3781;;
    cursor: pointer;
    border-bottom: 2px solid #AA3781;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 178px;
    padding-left: 140px;
}

.first-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 138%;
    letter-spacing: -0.015em;
    font-feature-settings: 'liga' off;
    color: #111827;
    max-width: 648px;
    padding-bottom: 16px;
}

.second-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    font-feature-settings: 'liga' off;
    color: #000000;
    max-width: 648px;
    padding-bottom: 40px;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    gap: 40px;
}

.link-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 8px;
    padding: 16px 24px;
    gap: 8px;
    margin-bottom: 244px;
    outline: 2px solid #FFFFFF;
}

.link-btn:hover, .link-video:hover {
    color:#38E48C;
    outline: 2px solid #FFFFFF;
    cursor: pointer;
}

.link-btn:focus, .link-video:focus {
    color: #38E48C;
    outline: 2px solid #38E48C;
    cursor: pointer;
}

.link-video {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #000000;
    border-radius: 8px;
    padding: 16px 24px;
    gap: 8px;
    margin-bottom: 244px;
    outline: 2px solid #FFFFFF;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color:#000000;
    padding: 64px 140px;
    gap: 556px;
    width: 100%;
}

.footer-par {
    color: #D1D5DB;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    font-feature-settings: 'liga' off;
}